body {
    font-family: Arial, sans-serif;
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}



.container {
    background: #4074d6;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    height: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.input {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #f0eeee;
}

input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    background-color: #31bef7;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4074d6;
    border: solid 2px #31bef7;
}

#result {
    margin-top: 30px;
    font-size: 16px;
    color: #f0eeee;
    font-weight: bold;
    font-style: italic;
}
